.wrapper {
  display: inline-block;
  margin: 0 1em 1em 0;
  padding: .2em;
  composes: bit from "./colors.css";
}

.content {
  padding: .2em;
  margin-right: .5em;
  color: inherit;
  font-family: 'Raleway', sans-serif;
}
