.addContainer {
  font-size: 2rem;
  line-height: 2rem;
  border: 1px solid #111;
  border-radius: 50%;
  composes: plus from "./colors.css";
}

.close {
  float: right;
  font-size: .5em;
  padding: .5em;
  color: inherit;
}

.inControls {
  position: relative;
  width: 25%;
  height: 100%;
  border-right: 1px solid black;
}
.inControls:last-child {
  border-right: 0;
}

@media (min-width: 650px) {
  .addContainer {
    float: left;
  }
}
