
/* L I G H T  B L U E  T H E M E */
/*
.main {
  background: #0D2949;
}

.header {
  background: #A9CAEF;
  color: #0D2949;
}

.bitInput {
  background: #5495DF;
  color: #0D2949;
}

.bitsContainer {
  background: #2161AB;
}

.bit, .plus {
  background: #fff;
  color: #0D2949;
}
*/






/* P I N K  T H E M E */
/*
.main {
  background: #1E1E1E;
}

.header {
  background: #B9314F;
  color: #E1DEE3;
}

.bitInput {
  background: #DEC3BE;
  color: black;
}

.bitsContainer {
  background: #D5A18E;
}

.bit {
  background: #B9314F;
  color: #E1DEE3;
}

.plus {
  background: #FFA53E;
  color: black;
}
*/




/* D A R K  B L U E  T H E M E */

.main {
  background: #1E1E1E;
}

.header {
  background: #045F8B;
  color: #eee;
}

.bitInput {
  background: #02486A;
  color: #ccc;
}

.bitsContainer {
  background: #01334B;
}

.bit {
  background: #045F8B;
  color: #eee;
}

.plus {
  background: #FFA53E;
  color: #01334B;
}


/*
#0A3776
#0F57B9
#477FCB
#87AEE3
#CFE1F8


.rgba-primary-0 { color: rgba(  4, 95,139,1) }
.rgba-primary-1 { color: rgba( 52,142,185,1) }
.rgba-primary-2 { color: rgba(  8,129,187,1) }
.rgba-primary-3 { color: rgba(  2, 72,106,1) }
.rgba-primary-4 { color: rgba(  1, 51, 75,1) }

.rgba-complement-0 { color: rgba(220,118,  0,1) }
.rgba-complement-1 { color: rgba(255,165, 62,1) }
.rgba-complement-2 { color: rgba(255,137,  0,1) }
.rgba-complement-3 { color: rgba(168, 90,  0,1) }
.rgba-complement-4 { color: rgba(119, 64,  0,1) }
*/
